@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto"), local("Roboto-Regular"),
  url("../font/roboto.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../font/robotomedium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../font/robotobold.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #ffffff;
}


.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.container {
  position: relative;

  display: block;
  width: 1146px;
  margin: 0 auto;
}

.background {
  min-width: 1200px;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center -164px;
  background-size: 1045px 1045px;
}

.background ul {
  padding: 0;

  list-style: none;
}

.background a {
  color: inherit;
  text-decoration: none;
}
