.shopping-cart {
  width: 540px;
  padding: 20px 14px 22px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.shopping-cart-nav:hover .shopping-cart {
  z-index: 100;

  display: block;
}

.shopping-cart-nav:target .shopping-cart {
  z-index: 99;

  display: block;
}

.shopping-cart-table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.shopping-cart-table td {
  padding: 8px 10px 16px 0;

  vertical-align: top;
}

.shopping-cart-table .shopping-cart-item-delete {
  width: 21px;
  padding: 7px 15px 0 1px;
}

.shopping-cart-item-delete button {
  padding: 0;

  background-color: transparent;
  border: none;
}

.shopping-cart-item-delete button::before {
  content: url("../img/icons/close.svg");

  display: inline-block;
  width: 11px;
  height: 11px;

  border-radius: 50%;
}

.shopping-cart-table .shopping-cart-item-img {
  padding: 0 14px 15px 0;
}

.shopping-cart-item-name {
  width: 240px;
}

.shopping-cart-table .shopping-cart-item-price-per-kilo {
  width: 120px;
  padding-left: 5px;
}

.shopping-cart-item-price-per-kio span {
  color: #999999;
}

.shopping-cart-table .shopping-cart-item-price {
  padding-left: 10px;
}

.shopping-cart-table .shopping-cart-item-total {
  padding: 15px 0 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.shopping-cart .btn {
  display: table;
  margin-left: auto;
  padding: 8px 15px 12px;
}
