/* main */

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto"), local("Roboto-Regular"),
  url("../font/roboto.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Medium"), local("Roboto-Medium"),
  url("../font/robotomedium.woff2") format("woff2");
}

@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;

  src: local("Roboto Bold"), local("Roboto-Bold"),
  url("../font/robotobold.woff2") format("woff2");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  box-sizing: border-box;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #ffffff;
}


.visually-hidden:not(:focus):not(:active),
input[type="radio"].visually-hidden,
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}

.container {
  position: relative;

  display: block;
  width: 1146px;
  margin: 0 auto;
}

.background {
  min-width: 1200px;

  background-color: #849d8f;
  background-repeat: no-repeat;
  background-position: center -164px;
  background-size: 1045px 1045px;
}

.background ul {
  padding: 0;

  list-style: none;
}

.background a {
  color: inherit;
  text-decoration: none;
}

/* interaction */

.btn {
  display: inline-block;
  padding: 9px 25px 11px;

  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: inherit;
  color: #ffffff;
  text-decoration: none;

  background-image: linear-gradient(#f26843, #e74b36);
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 1px 2px #ac1000;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(#f58669, #ec6f5e);
  box-shadow: 0 2px 2px #ac1000;
}

.btn:active {
  color: #fceeec;

  background-image: linear-gradient(#d74632, #e1613e);
  box-shadow: inset 0 2px 2px #942718;
}

.form-field {
  position: relative;

  height: 44px;
  margin: 0 0 20px 0;
}

.field {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  min-height: 24px;
  padding: 10px 14px;

  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  color: #323232;

  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: inset 0 0 0 1px rgb(211, 211, 210);
}

.field:hover {
  box-shadow: inset 0 0 0 2px #999999;
}

.field:focus {
  box-shadow: inset 0 0 0 2px #5b9ddf;
}

.field + label {
  position: absolute;
  top: 11px;
  left: 14px;

  color: #999999;

  pointer-events: none;
}

.field:focus + label {
  color: #5b9ddf;
}

.field:focus + label,
.field:required:valid + label {
  top: -14px;

  font-size: 11px;
  line-height: 11px;
}

/* header */

.header-nav {
  display: flex;
  width: 100%;
}

.logo {
  margin-top: 9px;
}

.menu-nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: 23px auto 0 9px;

  font-weight: 700;
  line-height: 18px;
}

.menu-nav a:hover,
.menu-nav a:focus {
  color: #323232;

  outline: none;
}

.menu-item {
  position: relative;

  align-self: flex-start;
}

.menu-item a {
  text-decoration: none;
}

.menu-item > a {
  display: inline-block;
  margin: 9px 14px 0;
  padding-bottom: 3px;

  line-height: 12px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.menu-item:hover > a,
.menu-item > a:focus,
.menu-item > a:active,
.menu-item-current > a,
.menu-item:target > a {
  margin: 0;
  padding: 9px 14px 11px;

  color: #323232;

  background-color: #f7f6f3;
  border: none;
  border-radius: 24px;
}

.menu-item > a:active,
.menu-item:target > a {
  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.menu-item-current > a,
.menu-item-current > a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.menu-item > a:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.sub-menu {
  position: absolute;
  top: -100000px;
  left: -6px;
  z-index: 100;

  overflow: hidden;

  white-space: nowrap;

  background-color: #f7f6f3;
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.menu-item:hover .sub-menu,
.sub-menu.js-drop-down {
  top: 37px;
}

.menu-item:target .sub-menu {
  top: 60px;
}

.sub-menu__item a {
  display: block;
  padding: 9px 20px 7px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.sub-menu__item:last-child a {
  padding: 8px 21px 12px;
}

.sub-menu__item a:hover {
  background-color: #fbded7;
}

.sub-menu__item a:focus,
.sub-menu__item a:active {
  background-color: #f6b5a5;
}

.sub-menu__item--current a,
.sub-menu__item--current a:hover {
  color: #ffffff;

  background-color: #d07058;
}

.sub-menu__item--bold a {
  position: relative;

  padding: 11px 21px 12px;

  font-weight: 700;
}

.sub-menu__item--bold a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;

  width: calc(100% - 12px);
  height: 1px;

  background-color: rgba(53, 53, 53, 0.2);
}

.user-nav {
  display: flex;
  margin: 0;
}

.user-nav li {
  position: relative;

  align-self: flex-start;
  margin: 23px 0 0 10px;
  padding: 0;
}

.user-nav li:target {
  top: -23px;

  padding-top: 23px;
}

.popup-form {
  position: absolute;
  top: 37px;
  right: 0;

  display: none;

  background-color: rgb(248, 247, 244);
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);

  pointer-events: auto;
}

.popup-form::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 100%;
  height: 5px;
}

.user-nav-btn {
  display: inline-block;
  padding: 8px 16px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 16px;
  outline: none;
}

.user-nav-btn:not(.no-href):hover,
.user-nav-btn:focus,
.user-nav-btn.shopping-cart-not-empty {
  color: #323232;

  background-color: #f8f7f4;
}

.user-nav-item:target .user-nav-btn {
  color: #323232;

  background-color: #ededed;
  box-shadow: inset 0 2px 1px 0 #696969;
}

.user-nav-item:target .popup-form {
  top: 60px;
  z-index: 99;

  display: block;
}

.user-nav .field {
  font-size: 14px;
}

.search-form .user-nav-btn {
  padding: 7px 7px 4px 8px;

  border-radius: 50%;
}

.search-form .user-nav-btn::before {
  content: url("../img/icon/search.svg");

  display: inline-block;
  width: 17px;
  height: 17px;
}

.search-form .user-nav-btn:hover::before,
.search-form .user-nav-btn:focus::before,
.search-form:target .user-nav-btn::before {
  content: url("../img/icon/search-hover.svg");
}

.search-form form {
  width: 343px;
  padding: 20px 16px;
}

.search-form:hover .popup-form {
  z-index: 100;

  display: block;
}

.search-form .form-field {
  margin: 0;
}

.search-form .btn {
  margin-top: 20px;
}

.login-form .user-nav-btn {
  position: relative;

  padding-left: 44px;
}

.login-form .user-nav-btn::before {
  content: url("../img/icon/login.svg");
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 19px;
}

.login-form .user-nav-btn:hover::before,
.login-form .user-nav-btn:focus::before,
.login-form:target .user-nav-btn::before {
  content: url("../img/icon/login-hover.svg");
}

.login-form form {
  width: 277px;
  padding: 20px 17px;
}

.login-form:hover .popup-form {
  z-index: 100;

  display: block;
}

.login-control {
  display: flex;
  align-items: center;
}

.login-control p {
  margin: 0 0 0 auto;
}

.login-service-links a {
  display: table;

  font-size: 13px;
  line-height: 13px;
  color: #323232;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.login-service-links a:first-child {
  margin-bottom: 7px;
}

.login-service-links a:hover,
.login-service-links a:focus,
.login-service-links a:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.shopping-cart-nav .user-nav-btn {
  position: relative;

  min-width: 117px;
  padding-left: 45px;
}

.shopping-cart-nav .user-nav-btn::before {
  content: url("../img/icon/shopping-cart.svg");
  position: absolute;
  top: 6px;
  left: 16px;

  width: 21px;
  height: 20px;
}

.shopping-cart-nav .shopping-cart-not-empty::before,
.shopping-cart-nav .shopping-cart-not-empty:hover::before,
.shopping-cart-nav:target .shopping-cart-not-empty::before {
  content: url("../img/icon/shopping-cart-not-empty.svg");
}

.header-info {
  position: absolute;
  right: 0;
  bottom: -40px;
  z-index: 1;

  font-weight: 700;
}

.working-time {
  margin-bottom: 5px;

  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.header-info .tel {
  margin-right: -1px;

  font-size: 22px;
  line-height: 22px;
  white-space: nowrap;
}

.header-info .tel:hover,
.header-info .tel:focus,
.header-info .tel:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* slider */

.slider {
  position: relative;
}

.ice-cream-1:checked ~ .background {
  background-color: #849d8f;
  background-image: radial-gradient( rgb(207, 246, 225) 20px,
  rgba(207, 246, 225, 0.75) 150px,
  rgba(207, 246, 225, 0.5) 250px,
  rgba(207, 246, 225, 0.38) 310px,
  rgba(207, 246, 225, 0.15) 420px,
  transparent 522px);
}

.ice-cream-2:checked ~ .background {
  background-color: #8996a6;
  background-image: radial-gradient( rgb(214, 235, 252) 20px,
  rgba(214, 235, 252, 0.75) 150px,
  rgba(214, 235, 252, 0.5) 250px,
  rgba(214, 235, 252, 0.38) 310px,
  rgba(214, 235, 252, 0.15) 420px,
  transparent 522px);
}

.ice-cream-3:checked ~ .background {
  background-color: #9d8b84;
  background-image: radial-gradient( rgb(250, 228, 219) 20px,
  rgba(250, 228, 219, 0.75) 150px,
  rgba(250, 228, 219, 0.5) 250px,
  rgba(250, 228, 219, 0.38) 310px,
  rgba(250, 228, 219, 0.15) 420px,
  transparent 522px);
}

.slider-control {
  position: absolute;
  bottom: 56px;
  left: 0;
}

.slide-label {
  position: absolute;
  bottom: 0;
  left: 0;

  cursor: pointer;
}

.slide-label-2 {
  left: 29px;
}

.slide-label-3 {
  left: 58px;
}

.slide-label::before {
  content: "";
  position: relative;

  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;

  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slide-label:focus,
.ice-cream-1:checked ~ .background .slide-label-1::before,
.ice-cream-2:checked ~ .background .slide-label-2::before,
.ice-cream-3:checked ~ .background .slide-label-3::before {
  background-color: #ffffff;
}

.slide-label:hover::before {
  background-color: rgba(255, 255, 255, 0.4);
}

.slides {
  margin: 0 0 1px;
}

.slide-item {
  position: relative;

  display: none;
  width: 687px;
  margin: 0 auto;
  padding: 311px 0 40px;

  text-align: center;
}

.ice-cream-1:checked ~ .background .slide-1,
.ice-cream-2:checked ~ .background .slide-2,
.ice-cream-3:checked ~ .background .slide-3 {
  display: block;
}

.slide-item img {
  position: absolute;
  top: 4px;
  left: 20px;
}

.slide-item b {
  position: relative;

  display: block;
  width: 678px;
  margin: 0 auto 33px;

  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.slide-item .btn {
  position: relative;

  padding: 7px 40px 12px;

  font-size: 32px;
  line-height: 44px;
  text-shadow: 2px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 33px;
}

/* promotion */

.promotion {
  display: flex;
  justify-content: space-between;
}

.promotion div {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  min-height: 229px;
  padding: 14px 20px 24px;

  border-radius: 16px;
}

.raspberry-promotion {
  background: url("../img/background/raspberry.jpg") no-repeat #6e1426;
  background-size: cover;
}

.chocolate-promotion {
  background: url("../img/background/chocolate.jpg") no-repeat #452a1e;
  background-size: cover;
}

.promotion h3 {
  margin: 0 0 16px;

  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
}

.chocolate-promotion h3 {
  margin-bottom: 15px;
}

.promotion p {
  margin: 0;

  font-weight: 700;
  font-size: 18px;
}

.promotion .btn {
  align-self: flex-end;
  margin-top: auto;
  margin-right: 1px;

  border-radius: 22px;
}

.raspberry-promotion .btn {
  padding: 9px 24px 12px 22px;
}

.chocolate-promotion .btn {
  padding: 8px 21px 13px 22px;
}

/* product */

.product-catalogue {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.product ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 34px 0 38px;
}

.product-item {
  position: relative;

  width: 267px;
  padding: 6px 0 0;
  overflow: hidden;

  border-radius: 6px;
}

.product-catalogue .product-item {
  margin-bottom: 33px;
  padding-top: 5px;
}

.product-item:hover {
  overflow: visible;
}

.product-item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: -13px;
  bottom: -72px;
  left: -13px;
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);

  pointer-events: none;
}

.product-item:hover::after {
  content: "";
  position: absolute;
  right: -13px;
  bottom: -72px;
  left: -13px;

  height: 73px;
}

.product-img {
  border-radius: 50%;
}

.top-list-img {
  position: absolute;
  top: 6px;
  left: 0;
}

.product-price {
  display: block;
  margin: -66px 0 0;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product-price span {
  font-size: 30px;
}

.product-price:hover {
  cursor: pointer;
}

.product-link {
  margin: 22px 5px 0;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.product-item .btn {
  position: absolute;
  bottom: 10px;
  left: 33px;
  z-index: 1;

  padding: 8px 16px 12px;

  border-radius: 19px;
  opacity: 0;

  transition: bottom 0.1s ease-in-out;
}

.product-item:hover .btn {
  bottom: -58px;

  opacity: 1;
}

.product-item:not(:hover) .btn:focus {
  bottom: 150px;

  opacity: 1;
}

/* info, news, contract */
.info {
  margin: 0;
  padding: 25px 20px;

  color: #323232;

  background: url("../img/background/wafer.jpg") #eee0c4;
  border-radius: 14px;
}

.info p {
  margin: 0;

  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.info ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  margin: 0;
}

.info li {
  position: relative;

  width: 540px;
  padding: 21px 5px 0 57px;
}

.info li::before {
  position: absolute;
  top: 8px;
  left: 0;

  width: 49px;
  height: 49px;
}

.manufacturing-info::before {
  content: url("../img/icon/manufacturing-info.svg");
}

.supply-info::before {
  content: url("../img/icon/supply-info.svg");
}

.made-from-info::before {
  content: url("../img/icon/made-from-info.svg");
}

.delivery-info::before {
  content: url("../img/icon/delivery-info.svg");
}

.news {
  display: flex;
  margin: 40px 0;

  color: #323232;
}

.news-blog {
  width: 560px;
  margin-right: 26px;
  padding: 23px 20px;

  background-color: #ffffff;
  background-image: url("../img/background/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: right -29px top -36px;
  border-radius: 14px;
}

.news-blog h2 {
  margin: 0 0 3px;

  font-weight: 500;
  font-size: 16px;
}

.news-blog a {
  display: block;
  width: 300px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
}

.news-blog a:hover,
.news-blog a:focus,
.news-blog a:active {
  color: #e84d37;
}

.news-subscribe {
  width: 560px;
  padding: 29px 22px 25px 20px;

  background-image: linear-gradient(#f8f7f4, #f8f7f4),
  repeating-linear-gradient(135deg,
  #f8f7f4,
  #f8f7f4 7px,
  #92cdff 7px,
  #92cdff 14px,
  #f8f7f4 14px,
  #f8f7f4 21px,
  #fe9e90 21px,
  #fe9e90 28px);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  border: 5px solid transparent;
  border-left-width: 6px;
  border-radius: 14px;
}

.news-subscribe-description {
  margin: 0 0 36px 1px;

  color: #5a5a5a;
}

.news-subscribe form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.news-subscribe .form-field {
  flex-grow: 1;
  margin: 0 12px 10px 0;
}

.news-subscribe label {
  left: 15px;
}

.news-subscribe .btn {
  margin-top: -1px;
  padding: 8px 17px 12px 18px;

  border-radius: 22px;
}

.contact {
  height: 429px;

  background-color: #e7e2cd;
  background-image: url("../img/background/map.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contact-info {
  position: absolute;
  left: calc(50% + 271px);
  z-index: 1;

  width: 302px;
  margin-top: 62px;
  padding: 29px 25px 31px;

  background-color: #fdfefe;
  border-radius: 14px;
}

.contact-info p {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  color: #323232;
}

.contact-info-address {
  width: 150px;
}

.contact-info b {
  display: block;
  margin: 0 0 19px;

  font-size: 18px;
  line-height: 24px;
  color: #323232;
}

.contact-info .tel {
  display: table;
  margin: 6px 0 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 18px;

  border-bottom: 1px solid transparent;
}

.contact-info .tel:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.contact-info .tel:focus,
.contact-info .tel:active {
  color: #e84d37;

  border-bottom: 1px solid rgba(236, 89, 60, 0.3);
}

.contact-info .btn {
  margin-top: 24px;
  padding: 8px 26px 12px 29px;

  border-radius: 24px;
}

/* shopping cart */
.shopping-cart {
  width: 540px;
  padding: 20px 14px 22px;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.shopping-cart-nav:hover .shopping-cart {
  z-index: 100;

  display: block;
}

.shopping-cart-nav:target .shopping-cart {
  z-index: 99;

  display: block;
}

.shopping-cart-table {
  width: 100%;

  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  line-height: 16px;
  color: #323232;
}

.shopping-cart-table td {
  padding: 8px 10px 16px 0;

  vertical-align: top;
}

.shopping-cart-table .shopping-cart-item-delete {
  width: 21px;
  padding: 7px 15px 0 1px;
}

.shopping-cart-item-delete button {
  padding: 0;

  background-color: transparent;
  border: none;
}

.shopping-cart-item-delete button::before {
  content: url("../img/icon/close.svg");

  display: inline-block;
  width: 11px;
  height: 11px;

  border-radius: 50%;
}

.shopping-cart-table .shopping-cart-item-img {
  padding: 0 14px 15px 0;
}

.shopping-cart-item-name {
  width: 240px;
}

.shopping-cart-table .shopping-cart-item-price-per-kilo {
  width: 120px;
  padding-left: 5px;
}

.shopping-cart-item-price-per-kio span {
  color: #999999;
}

.shopping-cart-table .shopping-cart-item-price {
  padding-left: 10px;
}

.shopping-cart-table .shopping-cart-item-total {
  padding: 15px 0 14px;

  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  text-align: right;

  border-top: 1px solid #cacac7;
}

.shopping-cart .btn {
  display: table;
  margin-left: auto;
  padding: 8px 15px 12px;
}

/* breadcrumbs, filter */
.breadcrumbs {
  display: flex;
  max-width: 80%;
  margin: 20px 0 8px;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 14px;
}

.breadcrumbs li:not(:last-child)::after {
  content: "»";

  display: inline-block;
  padding: 0 6px 0 8px;
}

.breadcrumbs a[href] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.breadcrumbs a[href]:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

.main-title {
  margin: 0 0 14px;

  font-weight: bold;
  font-size: 35px;
  line-height: 35px;
}

.filter {
  margin-bottom: 35px;

  font-weight: 500;
  line-height: 18px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-form fieldset {
  margin: 17px 0 0;
  padding: 0;

  border: none;
}

.filter-form legend {
  margin-left: 15px;

  font-size: 14px;
  line-height: 16px;
}

.filter-category {
  position: relative;

  margin: 5px 15px 0 0;
  padding: 0 16px;

  font-weight: 500;
  line-height: 36px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

.filter .select-block {
  padding: 0;
}

.filter-category-options {
  box-sizing: border-box;
  min-width: 193px;
  min-height: 36px;
  padding: 0 16px;
  overflow: hidden;

  font: inherit;
  color: #ffffff;
  text-overflow: ellipsis;

  background-color: transparent;
  background-image: url("../img/icon/down-arrow-white.svg");
  background-repeat: no-repeat;
  background-position: right 14px top 13px;
  border: none;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}

/* remove a drop down arrow from the select control */
.filter-category-options {
  /*for chrome*/
  -webkit-appearance: none;
  /*for firefox*/
     -moz-appearance: none;
}
/*for IE10+*/
.filter-category-options::-ms-expand {
  display: none;
}

.filter-category-options:hover,
.filter-category-options:focus {
  color: #323232;

  background-color: #ffffff;
  background-image: url("../img/icon/down-arrow-black.svg");
}

.filter-category-options:hover + .select-arrow,
.filter-category-options:focus + .select-arrow {
  border-top-color: #333333;
}

.filter-category-options option {
  font-size: 14px;
  color: #323232;
}

.filter-price-display-values input {
  display: inline-block;
  width: 28px;
  height: 16px;
  padding: 0;

  font: inherit;
  color: inherit;

  background: transparent;
  border: none;
}

.filter-price-range {
  padding: 16px 22px;
}

.filter-price-scale {
  position: relative;

  width: 176px;
  height: 4px;

  background-color: rgba(255, 255, 255, 0.5);
}

.filter-price-checked {
  position: absolute;
  top: 0;
  left: 21px;

  width: 98px;
  height: 4px;

  background-color: #f8f7f4;
}

.filter-price-slider {
  position: absolute;
  top: -8px;

  width: 20px;
  height: 20px;

  background-color: rgb(171, 171, 171);
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
  cursor: pointer;
}

.filter-price-slider:hover {
  top: -9px;

  width: 22px;
  height: 22px;

  border-width: 9px;
}

.filter-price-min {
  left: 13px;
}

.filter-price-max {
  left: 111px;
}

.filter-price-min:hover {
  left: 12px;
}

.filter-price-max:hover {
  left: 110px;
}

.filter-label {
  position: relative;

  margin-right: 15px;
  padding: 1px 0 2px 30px;

  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.8;
}

.filter-label:last-of-type {
  margin-right: 0;
}

.filter-label:hover,
.filter-radio:focus + .filter-label {
  opacity: 1;
}

.filter-label:disabled {
  opacity: 0.4;
}

.filter-label-radio {
  background-image: url("../img/icon/radio-off.svg");
}

.filter-radio:checked + .filter-label-radio {
  background-image: url("../img/icon/radio-on.svg");
}

.filter-label-check {
  margin-right: 20px;
  padding-top: 0;

  background-image: url("../img/icon/check-off.svg");
}

.filter-radio:checked + .filter-label-check {
  background-image: url("../img/icon/check-on.svg");
}

.filter-form button {
  min-height: 36px;
  padding: 7px 30px;

  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  font-family: inherit;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 27px;
  outline: none;
  box-shadow: inset 0 0 0 2px #fbfcfb;
}

.filter button:hover {
  color: #323232;

  background-color: #fbfcfb;
}

.filter button:focus {
  color: #323232;

  background-color: #eaeaea;
  box-shadow: inset 0 2px 1px 0 #696969;
}

/* pagination, footer */

.pagination {
  position: relative;
  right: -10px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 47px 0 0;
  padding-bottom: 30px;
}

.pagination a {
  display: block;
  min-width: 26px;
  height: 26px;
  margin: 0 2px;

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  border-radius: 50%;
}

.pagination a[href]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination a:not([href]),
.pagination a[href]:focus {
  color: #323232;

  background-color: #ffffff;
}

.pagination .pagination-arrow:not([href]) {
  color: rgba(255, 255, 255, 0.2);

  background-color: transparent;
}

.pagination .pagination-prev {
  margin-right: 4px;
}

.pagination .pagination-next {
  margin-left: 4px;
}

.page-footer {
  display: flex;
  padding: 19px 0 23px;
}

.social-media {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 187px;
  margin: 17px auto 0 0;
}

.social-media a {
  width: 39px;
  height: 39px;

  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-twitter {
  background-image: url("../img/icon/social-tw.svg");
}

.social-instagram {
  background-image: url("../img/icon/social-inst.svg");
}

.social-fb {
  background-image: url("../img/icon/social-fb.svg");
}

.social-vk {
  background-image: url("../img/icon/social-vk.svg");
}

.social-twitter:hover,
.social-twitter:focus {
  background-image: url("../img/icon/social-tw-hover.svg");
}

.social-instagram:hover,
.social-instagram:focus {
  background-image: url("../img/icon/social-inst-hover.svg");
}

.social-fb:hover,
.social-fb:focus {
  background-image: url("../img/icon/social-fb-hover.svg");
}

.social-vk:hover,
.social-vk:focus {
  background-image: url("../img/icon/social-vk-hover.svg");
}

.social-twitter:active {
  background-image: url("../img/icon/social-tw-focus.svg");
}

.social-instagram:active {
  background-image: url("../img/icon/social-inst-focus.svg");
}

.social-fb:active {
  background-image: url("../img/icon/social-fb-focus.svg");
}

.social-vk:active {
  background-image: url("../img/icon/social-vk-focus.svg");
}

.footer-link {
  margin: 13px 0 0;
  padding: 0 16px;
}

.footer-link:nth-of-type(2) {
  padding-left: 22px;

  background-image: url("../img/icon/heart.svg");
  background-repeat: no-repeat;
  background-position: 0 5px;
}

.footer-link a {
  display: table;
  margin: 4px 0 7px;

  font-size: 13px;
  line-height: 14px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-link a:hover,
.footer-link a:focus,
.footer-link a:active {
  color: #ffbc9e;

  border-bottom-color: rgba(249, 172, 159, 0.3);
}

.for-supplier {
  font-weight: bold;
}

.copyright {
  width: 189px;
  margin-left: auto;

  font-size: 12px;
  line-height: 18px;
}

.copyright img {
  display: block;
  margin-left: 1px;
}

.copyright p {
  margin: 3px 0 0 0;

  white-space: nowrap;
}

.copyright a {
  line-height: 12px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.copyright a:hover,
.copyright a:focus,
.copyright a:active {
  color: #ffbc9e;

  border-bottom: 1px solid rgba(249, 172, 159, 0.3);
}

/* model */

.modal-feedback {
  display: none;

  color: #323232;

  background-color: rgba(0, 0, 0, 0.3);
}

.modal-feedback:target {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  min-width: 100%;
  min-height: 100vh;
}

.modal-feedback form {
  position: fixed;
  top: 50%;
  left: 50%;

  min-width: 475px;
  padding: 16px 25px 27px;

  background-color: #f8f7f4;
  border-radius: 10px;
  transform: translate( -50%, -50%);

  animation: bounce 0.6s;
}

.modal-feedback b {
  display: block;
  margin-bottom: 20px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.modal-feedback h2 {
  margin-top: 0;
}

.modal-feedback input {
  width: 267px;
}

.textarea-group {
  height: 155px;
}

.textarea-group textarea {
  height: 155px;

  resize: none;
}

.modal-feedback .btn {
  display: table;
  margin-top: 24px;
  margin-left: auto;
  padding: 8px 22px 12px;
}


.modal-close {
  position: absolute;
  top: 6px;
  right: 6px;

  padding: 0;

  background-color: transparent;
  border: none;
}

.modal-close::before {
  content: url("../img/icon/close.svg");

  display: inline-block;
  width: 35px;
  height: 35px;
  padding: 9px;

  border-radius: 50%;
}
